.logo{
  font-size: 30px;
  margin-right: 15px;
}

.header > span{
  font-size: 20px;
  margin-top: 5px;
}

.logo, .header > span{
  color: #E7EFDD;
}

form{
  font-size: 12px;
}

form > .searchInput{
  width: 80%;
  margin-top: 15px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #E7EFDD;
}

.mat-toolbar{
  background-color: #0E0B16;
}

