.footer{
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.footer span{
  font-size: 0.8rem;
  color: #E7EFDD;
}

.footer a{
  font-size: 0.8rem;
  color: #E7EFDD;
}

.footer img{
  max-height: 25px;
}

.mat-toolbar{
  background-color: #0E0B16;
  height: 30px;
}
